* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#wraper {
  margin: 20px auto;
  max-width: 90vw;
}

#wraper .heading {
  text-align: center;
}

#wraper .heading h1 {
  color: #47b4ae;
  font-weight: 400;
}

#wraper .heading h1::after {
  height: 3px;
  width: 150px;
  content: " ";
  background-color: #67a1a3;
  margin: 10px auto 45px;
  display: block;
}

#wraper #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wraper #content .box-img .boder-radias {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 3px solid #ddaaba;
  display: inline-block;
}

#wraper #content .box-img .boder-radias .img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 300px;
  width: 300px;
  background-image: url(../data/img/learn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -60px 0px;
  border-radius: 50%;
  display: inline-block;
}

#wraper #content .box-img h2 {
  text-align: center;
  color: #249db3;
}

#wraper #content form {
  width: 60%;
}

#wraper #content form .input1 p {
  padding: 10px 15px;
  background-color: #e4e4e4;
  border: 2px solid #bbb;
  border-radius: 6px;
  font-size: 17px;
  margin-bottom: 10px;
}

#wraper #content form .input1 input {
  width: 100%;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wraper #content form .input2 input {
  width: 48%;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wraper #content form .input3 input {
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input3 #input3_1 {
  width: 60%;
}

#wraper #content form .input3 #input3_2 {
  width: 35%;
}

#wraper #content form .input4 input {
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wraper #content form .input5 select {
  display: inline-block;
  width: 30%;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input6 textarea {
  width: 100%;
  height: 60px;
  padding: 5px;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 10px;
}

#wraper #content form .input7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wraper #content form .input7 img {
  width: 150px;
  margin-right: 10px;
}

#wraper #content form .input7 input {
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-left: 10px;
  width: 100px;
}

#wraper #content form .input8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  border: 2px solid #bbb;
  padding: 10px;
  margin-bottom: 20px;
}

#wraper #content form .input8 .ip8-btn {
  padding: 3px;
  border: 2px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
}

#wraper #content form .input8 .ip8-lb {
  margin: 0 5px;
}

#wraper #content form .input9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wraper #content form .input9 input {
  padding: 15px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 50px;
  cursor: pointer;
}

#wraper #content form .input9 .ip9-btn1 {
  width: 150px;
  height: 50px;
  background-color: #3cdbd3;
}

#wraper #content form .input9 .ip9-btn2 {
  width: 200px;
  height: 50px;
  background-color: #e6ba4c;
}

#wraper #content form .input10 a {
  margin: 0 5px;
  text-decoration: none;
  color: #333333;
}

#wraper #content form .input10 span {
  margin-right: 4px;
}
/*# sourceMappingURL=style.css.map */